<a href="https://colab.research.google.com/github/Bhati0078/IMDB-Movie-Rating/blob/main/imdb_Movie_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [284]:
import pandas as pd
import numpy as np

In [285]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [286]:
#here, we have used parse_dates=['release_date'] to convert the datatype of ['release_date'] to datetime.
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/imdb_data - imdb_data.csv", parse_dates=['release_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   datetime64[ns]
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(17)
memory usage: 539.2+ KB

In [287]:
df[['title','revenue']].sort_values(by='revenue',ascending=False).head(1)

             title     revenue
1126  The Avengers  1519557910

In [288]:
# Lists of Columns
list(df.columns)

['id',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'Keywords',
 'cast',
 'crew',
 'revenue']

In [289]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2015-02-20,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,2004-08-06,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,2014-10-10,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,2012-03-09,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2009-02-05,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [290]:
#this will give us a series of boolean datatype, where wherever we have hindi,i.e, hi, there we'll get true for that column.
df['original_language'] == "hi"

0       False
1       False
2       False
3        True
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Name: original_language, Length: 3000, dtype: bool

In [291]:
#this will give us the DataFrame of the above series.
df[df['original_language'] == "hi"]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,2012-03-09,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
213,214,NaN,6700000,"[{'id': 28, 'name': 'Action'}]",NaN,tt2077833,hi,राउडी राठौर,Low-life thief Shiva and top-cop Vikram Rathor...,1.312833,...,2012-06-01,143.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Rowdy Rathore,"[{'id': 1721, 'name': 'fight'}, {'id': 8015, '...","[{'cast_id': 11, 'character': 'Shiva / Vikram ...","[{'credit_id': '52fe4a0bc3a36847f81b58a9', 'de...",31000000
371,372,NaN,13100000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",http://www.thankyouthefilm.com/,tt1720254,hi,Thank You,The film is about three husbands having affair...,1.417392,...,2011-04-08,140.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Husbands will say sorry ... Wives will say tha...,Thank You,NaN,"[{'cast_id': 1, 'character': 'Kishen', 'credit...","[{'credit_id': '52fe4651c3a368484e08a13f', 'de...",4100000
401,402,NaN,3000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0319736,hi,The Legend of Bhagat Singh,The Legend of Bhagat Singh is a 2002 Indian hi...,0.904409,...,2002-06-07,155.0,"[{'iso_639_1': 'pa', 'name': 'ਪੰਜਾਬੀ'}, {'iso_...",Released,NaN,The Legend of Bhagat Singh,NaN,"[{'cast_id': 12, 'character': 'Bhagat K. Singh...","[{'credit_id': '52fe44849251416c9101372f', 'de...",6000000
419,420,NaN,3750000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10769, '...",http://www.atithithefilm.com/,tt1578116,hi,Atithi Tum Kab Jaoge,Atithi Tum Kab Jaoge? is the story of Puneet a...,0.597058,...,2010-02-26,155.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,"Dear Guest, When Will You Leave?",NaN,"[{'cast_id': 1, 'character': 'Puneet, Pappu', ...","[{'credit_id': '5647c0359251413ade004b4d', 'de...",5000000
481,482,NaN,10500000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.cc2c-thefilm.com/,tt1091229,hi,Chandni Chowk To China,"Based in Delhi's Chandni Chowk, orphaned Sidhu...",1.970481,...,2009-01-16,149.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Chandni Chowk To China,"[{'id': 4344, 'name': 'musical'}, {'id': 10540...","[{'cast_id': 10, 'character': 'Sidhu', 'credit...","[{'credit_id': '52fe43d2c3a368484e00004d', 'de...",9400000
585,586,NaN,10400000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt5074352,hi,दंगल,Dangal is an extraordinary true story based on...,8.792104,...,2016-12-23,161.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Dangal,"[{'id': 5565, 'name': 'biography'}, {'id': 597...","[{'cast_id': 0, 'character': 'Mahavir Singh Ph...","[{'credit_id': '5714ef3f92514146c80003ea', 'de...",310000000
627,628,NaN,16000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.yashrajfilms.com/Movies/MovieIndivi...,tt3495026,hi,Fan,The story of a fan whose world completely revo...,5.127876,...,2016-04-15,142.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,World's biggest superstar got the universe's b...,Fan,"[{'id': 1523, 'name': 'obsession'}, {'id': 981...","[{'cast_id': 1, 'character': 'Gaurav Chandna /...","[{'credit_id': '569bc0de9251415e7000003c', 'de...",29251596
671,672,NaN,6400000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.anjaanaanjaani.erosentertainment.com,tt1499201,hi,Anjaana Anjaani,Akash (Ranbir Kapoor) and Kiara (Priyanka Chop...,1.822940,...,2010-09-24,151.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,All the greatest love stories...are between st...,Anjaana Anjaani,"[{'id': 1252, 'name': 'suicide attempt'}, {'id...","[{'cast_id': 2, 'character': 'Kiara', 'credit_...","[{'credit_id': '58a2fb2cc3a3682902007108', 'de...",5900000
695,696,NaN,1,"[{'id': 10749, 'name': 'Romance'}, {'id': 53, ...",NaN,tt0374271,hi,Tere Naam,"Lower Caste Radhey Mohan is a no good slacker,...",1.280455,...,2003-08-15,132.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Unfortunately a true love story,Tere Naam,NaN,"[{'cast_id': 3, 'character': 'Radhe Mohan', 'c...","[{'credit_id': '52fe491ec3a36847f8189cfb', 'de...",2
771,772,NaN,9000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://kaminey.utvnet.com/,tt1274295,hi,Kaminey,Guddu and Charlie are identical twins born and...,2.089842,...,2009-08-14,135.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,Thif monfoon. Difcover your mean fide.,Kaminey,"[{'id': 14636, 'name': 'india'}]","[{'cast_id': 1, 'character': 'Charlie / Guddu'...","[{'credit_id': '52fe43f4c3a368484e007b65', 'de...",18130000
840,841,NaN,10721568,"[{'id': 18, 'name': 'Drama'}]",https://www.facebook.com/foxstarhindi/,tt5286444,hi,नीरजा,Neerja is a portrayal on the life of the coura...,1.686250,...,2016-02-19,122.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Fear Gave Her Courage,Neerja,"[{'id': 4245, 'name': 'hijacking'}, {'id': 967...","[{'cast_id': 0, 'character': 'Neerja Bhanot', ...","[{'credit_id': '5692588192514115bf001d11', 'de...",2978994
848,849,NaN,6400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt2359810,hi,रान्झाना,A small-town boy needs to break through the cl...,1.856101,...,2013-06-21,140.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Raanjhanaa,"[{'id': 10048, 'name': 'unrequited love'}, {'i...","[{'cast_id': 1, 'character': 'Kundan', 'credit...","[{'credit_id': '52fe4c799251416c910f611d', 'de...",18000000
970,971,NaN,4200000,"[{'id': 10749, 'name': 'Romance'}, {'id': 28, ...",NaN,tt3142232,hi,Heropanti,Rising from present India in the conflicting e...,2.031919,...,2014-05-23,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Heropanti,NaN,"[{'cast_id': 1, 'character': 'Bablu', 'credit_...","[{'credit_id': '53baa148c3a3685eb4006e29', 'de...",10000000
1004,1005,NaN,1000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt2350496,hi,Dabba,A mistaken delivery in Mumbai's famously effic...,10.766409,...,2013-09-19,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Lunchbox,NaN,"[{'cast_id': 2, 'character': 'Saajan Fernandes...","[{'credit_id': '5476f65b9251415d7a0016eb', 'de...",4235151
1491,1492,NaN,5500000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt3767372,hi,Piku,"A road trip to Kolkata brings Piku, an archite...",2.942711,...,2015-05-08,123.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Motion Se Hi Emotion,Piku,NaN,"[{'cast_id': 0, 'character': 'Bashkor Banerjee...","[{'credit_id': '5551de509251416a93005e01', 'de...",22159216
1572,1573,NaN,9100000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.rememberghajini.com/,tt1166100,hi,Ghajini,Sanjay a rich tycoon suffering from short term...,4.239080,...,2008-12-25,183.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Ghajini,"[{'id': 331, 'name': 'tattoo'}, {'id': 154785,...","[{'cast_id': 12, 'character': 'Sanjay Singhani...","[{'credit_id': '52fe45c99251416c75062659', 'de...",76000000
1640,1641,NaN,4600000,"[{'id': 36, 'name': 'History'}, {'id': 28, 'na...",NaN,tt2356180,hi,Bhaag Milkha Bhaag,"The true story of the ""Flying Sikh"" world cham...",4.342418,...,2013-07-12,186.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Now you will see his Real Story.,Bhaag Milkha Bhaag,"[{'id': 795, 'name': 'running'}, {'id': 1721, ...","[{'cast_id': 1, 'character': 'Milkha Singh', '...","[{'credit_id': '52fe4d1ac3a368484e1d74af', 'de...",25000000
1656,1657,NaN,18000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://www.chennaiexp2013.com/chennaiexpress.aspx,tt2112124,hi,Chennai Express,Rahul embarks on a journey to a small town in ...,4.193560,...,2013-08-09,141.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,Ready... Steady... Po!,Chennai Express,"[{'id': 4412, 'name': 'grandfather'}, {'id': 4...","[{'cast_id': 2, 'character': 'Rahul Mithaiwala...","[{'credit_id': '581e56659251410f4f00f125', 'de...",62000000
1694,1695,NaN,521873,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,tt5662932,hi,रमन राघव २.०,Set in present day Mumbai the story follows th...,1.668794,...,2016-06-24,127.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Raman Raghav 2.0,"[{'id': 10024, 'name': 'psychopathic killer'},...","[{'cast_id': 6, 'character': 'Ramanna (Raman)'...","[{'credit_id': '57160f17c3a3682f450033eb', 'de...",1013926
1719,1720,NaN,4437508,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.utvgroup.com/motion-pictures/coming...,tt2082197,hi,Barfi!,He is cute. He's shrewd. The girls love him. T...,3.779077,...,2012-09-14,155.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Barfi,"[{'id': 1646, 'name': 'autism'}]","[{'cast_id': 5, 'character': 'Jhilmil Singh', ...","[{'credit_id': '5926294cc3a36877fd014ce9', 'de...",2804874
1729,1730,NaN,5200000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0164538,hi,दिल से,The clash between love and ideology is portray...,1.891138,...,1998-08-22,163.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Dil Se..,"[{'id': 258, 'name': 'bomb'}, {'id': 321, 'nam...","[{'cast_id': 2, 'character': 'Amarkanth Varma'...","[{'credit_id': '57b53e789251410918000155', 'de...",13000000
1732,1733,"[{'id': 419784, 'name': 'Masti Collection', 'p...",5500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt2476154,hi,Grand Masti,"Amar, Prem and Meet are longtime friends who h...",1.250293,...,2013-09-13,140.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,The Masti Boys are Back,Grand Masti,NaN,"[{'cast_id': 2, 'character': 'Amar', 'credit_i...","[{'credit_id': '52fe4db49251416c7513dd27', 'de...",47000000
1766,1767,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,tt0290326,hi,Tum Bin,"Shekhar, a businessman, accidentally kills his...",0.371679,...,2001-07-13,158.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Love Will Find the Way,Tum Bin,"[{'id': 128, 'name': 'love triangle'}, {'id': ...","[{'cast_id': 1, 'character': 'Shekhar Malhotra...","[{'credit_id': '52fe46efc3a368484e0abfaf', 'de...",1486992
1948,1949,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,tt0476805,hi,मालामाल वीकली,Lilaram sells lottery tickets and one customer...,1.479018,...,2006-03-10,138.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Malamaal Weekly,NaN,"[{'cast_id': 1, 'character': 'Kanhaiya', 'cred...","[{'credit_id': '592dd1fbc3a36808c3000dd9', 'de...",204
1987,1988,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0347304,hi,कल हो ना हो,Naina is a very serious girl with a very serio...,5.584308,...,2003-11-27,186.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Kal Ho Naa Ho,"[{'id': 242, 'name': 'new york'}, {'id': 958, ...","[{'cast_id': 8, 'character': 'Aman Mathur', 'c...","[{'credit_id': '52fe43b6c3a36847f8069c57', 'de...",13200241
1989,1990,"[{'id': 20970, 'name': 'Sarkar Collection', 'p...",1900000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0432047,hi,Sarkar,"The authority of a man, who runs a parallel go...",2.004745,...,2005-07-01,123.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Sarkar,"[{'id': 417, 'name': 'corruption'}, {'id': 607...","[{'cast_id': 1, 'character': 'Subhash Nagre (S...","[{'credit_id': '576bae81c3a36864910013fc', 'de...",5900000
2239,2240,"[{'id': 44976, 'name': 'Dhoom Series', 'poster...",19500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt1833673,hi,धूम ३,"To avenge his father's death, a circus enterta...",5.326716,...,2013-12-18,172.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Dhoom 3,"[{'id': 291, 'name': 'circus'}, {'id': 2492, '...","[{'cast_id': 2, 'character': 'Sahir', 'credit_...","[{'credit_id': '59488707c3a36816c504b523', 'de...",91000000
2251,2252,NaN,130,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,tt1729637,hi,Bodyguard,Lovely Singh (Salman Khan) is the bodyguard of...,2.402032,...,2011-08-31,130.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Bodyguard,"[{'id': 2251, 'name': 'lie'}, {'id': 2913, 'na...","[{'cast_id': 1, 'character': 'Lovely B. Singh'...","[{'credit_id': '52fe48a1c3a368484e102d25', 'de...",8
2287,2288,NaN,18000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,tt2979920,hi,बॉम्बे वेलवेट,"An ordinary man, who goes against all odds to ...",1.377993,...,2015-05-15,151.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Bombay Velvet,"[{'id': 1416, 'name': 'jazz'}, {'id': 2792, 'n...","[{'cast_id': 1, 'character': 'Rosie', 'credit_...","[{'credit_id': '57d00957c3a36866a400269f', 'de...",1500000
2353,2354,NaN,8376800,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jodhaaakbar.com/,tt0449994,hi,Jodhaa Akbar,Jodhaa Akbar is a sixteenth century love story...,12.237488,...,2008-02-15,213.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Jodhaa Akbar,"[{'id': 1157, 'name': 'wife husband relationsh...","[{'cast_id': 1, 'character': 'Jalaluddin Moham...","[{'credit_id': '52fe45c99251416c75062761', 'de...",13000000
2390,2391,NaN,7500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.khattameethathefilm.com/,tt1455811,hi,Khatta Meetha,"Struggling road construction contractor, Sachi...",0.494047,...,2010-07-23,155.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Khatta Meetha,"[{'id': 235064, 'name': 'remake of malayalam f...","[{'cast_id': 4, 'character': 'Sachin Tichkule'...","[{'credit_id': '52fe468fc3a36847f8105a21', 'de...",10000000
2436,2437,NaN,4300000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt5946128,hi,Dear Zindagi,An unconventional thinker (Shah Rukh Khan) hel...,3.699552,...,2016-11-24,149.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Dear Zindagi,NaN,"[{'cast_id': 8, 'character': 'Kaira', 'credit_...","[{'credit_id': '57c6e9c3c3a3680ba4001c63', 'de...",3376375
2480,2481,NaN,6400000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,tt2168910,hi,Cocktail,"Gautam is an incorrigible flirt, who runs afte...",7.950488,...,2012-07-13,144.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Sometimes good friends may be too good to shar...,Cocktail,"[{'id': 6054, 'name': 'friendship'}, {'id': 97...","[{'cast_id': 7, 'character': 'Veronica Malaney...","[{'credit_id': '52fe4bc8c3a36847f8213af9', 'de...",18800000
2538,2539,NaN,6900000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,tt0151150,hi,Josh,Shah Rukh Khan and Sharad Kapoor are the leade...,4.031500,...,2000-06-09,162.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Josh,NaN,"[{'cast_id': 1, 'character': 'Max', 'credit_id...","[{'credit_id': '52fe4b82c3a368484e18c7f1', 'de...",15000000
2563,2564,NaN,7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0449999,hi,कभी अलविदा ना कहना,Dev and Maya are both married to different peo...,2.372520,...,2006-08-11,193.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Love.... That Broke All Relationships,Kabhi Alvida Naa Kehna,"[{'id': 596, 'name': 'adultery'}, {'id': 34094...","[{'cast_id': 1, 'character': 'Dev Saran', 'cre...","[{'credit_id': '52fe45ee9251416c75067637', 'de...",17000000
2567,2568,NaN,11000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,tt2424988,hi,Gabbar Is Back,A vigilante network taking out corrupt officia...,1.812728,...,2015-05-01,128.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Gabbar Is Back,NaN,"[{'cast_id': 1, 'character': 'Professor Aditya...","[{'credit_id': '5792ff149251410d12008917', 'de...",41000000
2807,2808,NaN,5300000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0439662,hi,Fanaa,Zooni Ali Beg (Kajol) is a blind Kashmiri girl...,3.003526,...,2006-05-26,168.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,Destroyed in love...,Fanaa,"[{'id': 1741, 'name': 'blindness and impaired ...","[{'cast_id': 4, 'character': 'Zooni Ali Beg', ...","[{'credit_id': '52fe44aac3a36847f80a3315', 'de...",22175908
2828,2829,NaN,19500000,"[{'id': 10752, 'name': 'War'}, {'id': 36, 'nam...",NaN,tt3735246,hi,Bajirao Mastani,A historical account of the romance between th...,4.683689,...,2015-12-18,150.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Bajirao Mastani,"[{'id': 232174, 'name': '–ª—é–±–æ–≤—å'}, {'id'...","[{'cast_id': 1, 'character': 'Baji Rao I', 'cr...","[{'credit_id': '560b66e0c3a3686814004c7d', 'de...",56000000
2857,2858,NaN,5400000,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt2855648,hi,Madras Cafe,An Indian Intelligence agent journeys into a w...,2.399890,...,2013-08-23,130.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Intercept the truth,Madras Cafe,"[{'id': 1990, 'name': 'cupboard'}, {'id': 5299...","[{'cast_id': 2, 'character': 'Vikram Singh', '...","[{'credit_id': '52fe4e08c3a368484e20a8ed', 'de...",6500000
2859,2860,"[{'id': 286951, 'name': 'Singham Collection', ...",3062000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,tt1948150,hi,Singham,A Bollywood classic directed by Rodit Shetty. ...,2.077410,...,2011-07-22,143.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Singham,"[{'id': 1721, 'name': 'fight'}, {'id': 13116, ...","[{'cast_id': 1, 'character': 'Bajirao Singham'...","[{'credit_id': '52fe4802c3a368484e0e513f', 'de...",25034000
2959,2960,NaN,2300000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt1093370,hi,Jab We Met,"Depressed after the passing of his father, Dha...",3.959411,...,2007-10-26,145.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Jab We Met,"[{'id': 2038, 'name': ""love of one's life""}, {...","[{'cast_id': 9, 'character': 'Aditya Kashyap',...","[{'credit_id': '537ef0d8c3a36805a1002844', 'de...",4600000

In [292]:
#this will filter the above DataFrame on the basis of  Columns ['budget','revenue','title'].
df[df['original_language'] == "hi"][['budget','revenue','title']]

        budget    revenue                             title
3      1200000   16000000                           Kahaani
213    6700000   31000000                     Rowdy Rathore
371   13100000    4100000                         Thank You
401    3000000    6000000        The Legend of Bhagat Singh
419    3750000    5000000  Dear Guest, When Will You Leave?
481   10500000    9400000            Chandni Chowk To China
585   10400000  310000000                            Dangal
627   16000000   29251596                               Fan
671    6400000    5900000                   Anjaana Anjaani
695          1          2                         Tere Naam
771    9000000   18130000                           Kaminey
840   10721568    2978994                            Neerja
848    6400000   18000000                        Raanjhanaa
970    4200000   10000000                         Heropanti
1004   1000000    4235151                      The Lunchbox
1491   5500000   22159216                              Piku
1572   9100000   76000000                           Ghajini
1640   4600000   25000000                Bhaag Milkha Bhaag
1656  18000000   62000000                   Chennai Express
1694    521873    1013926                  Raman Raghav 2.0
1719   4437508    2804874                             Barfi
1729   5200000   13000000                          Dil Se..
1732   5500000   47000000                       Grand Masti
1766         0    1486992                           Tum Bin
1948         0        204                   Malamaal Weekly
1987         0   13200241                     Kal Ho Naa Ho
1989   1900000    5900000                            Sarkar
2239  19500000   91000000                           Dhoom 3
2251       130          8                         Bodyguard
2287  18000000    1500000                     Bombay Velvet
2353   8376800   13000000                      Jodhaa Akbar
2390   7500000   10000000                     Khatta Meetha
2436   4300000    3376375                      Dear Zindagi
2480   6400000   18800000                          Cocktail
2538   6900000   15000000                              Josh
2563   7400000   17000000            Kabhi Alvida Naa Kehna
2567  11000000   41000000                    Gabbar Is Back
2807   5300000   22175908                             Fanaa
2828  19500000   56000000                   Bajirao Mastani
2857   5400000    6500000                       Madras Cafe
2859   3062000   25034000                           Singham
2959   2300000    4600000                        Jab We Met

In [293]:
# Get the Movies were runtime is greater than 180
df.loc[df['runtime']>180].head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
109,110,NaN,15000000,"[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...",NaN,tt0060491,en,Hawaii,"Abner Hale, a rigid and humorless New England ...",3.210693,...,2066-10-10,189.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,James Michener's novel reaches the screen.,Hawaii,"[{'id': 1668, 'name': 'hawaii'}, {'id': 6917, ...","[{'cast_id': 4, 'character': 'Jerusha Bromley'...","[{'credit_id': '557ffdd79251412f120015ee', 'de...",34562222
387,388,NaN,36000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0101373,en,At Play in the Fields of the Lord,Martin and Hazel Quarrier are small-town funda...,2.151436,...,1991-12-06,189.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An adventure beyond the limits of civilization...,At Play in the Fields of the Lord,"[{'id': 440, 'name': 'missionary'}, {'id': 216...","[{'cast_id': 1, 'character': 'Lewis Moon', 'cr...","[{'credit_id': '576c8b2bc3a36830890005a8', 'de...",1345903
523,524,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0049833,en,The Ten Commandments,"Escaping death, a Hebrew infant is raised in a...",11.147040,...,2056-10-05,220.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Ten Commandments,"[{'id': 1160, 'name': 'egypt'}, {'id': 2618, '...","[{'cast_id': 9, 'character': 'Moses', 'credit_...","[{'credit_id': '58acab8cc3a3686f0d00093f', 'de...",122700000
524,525,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0376127,ta,அந்நியன்,"Ambi, a meek lawyer, ends up being a vigilante...",1.532894,...,2005-06-17,181.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Anniyan,"[{'id': 7002, 'name': 'vigilante'}, {'id': 979...","[{'cast_id': 7, 'character': ""Rules Ramanujam ...","[{'credit_id': '52fe47fe9251416c750ac6d3', 'de...",8500000
605,606,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0004972,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,...,2015-02-08,193.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,"[{'id': 529, 'name': 'ku klux klan'}, {'id': 5...","[{'cast_id': 16, 'character': 'Elsie Stoneman'...","[{'credit_id': '59d42f0ec3a368453f009d78', 'de...",11000000

In [294]:
# Get the Movies were runtime is greater than 180 and original language is Hindi(hi)
df.loc[(df['runtime'] > 180) & (df['original_language'] == "hi"),['title','budget','revenue']]

                       title   budget   revenue
1572                 Ghajini  9100000  76000000
1640      Bhaag Milkha Bhaag  4600000  25000000
1987           Kal Ho Naa Ho        0  13200241
2353            Jodhaa Akbar  8376800  13000000
2563  Kabhi Alvida Naa Kehna  7400000  17000000

In [295]:
# Get the Movies were runtime between 150 to 180

df[(df['runtime'] >= 150) & (df['runtime'] <= 180)]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
47,48,NaN,44000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,...,2015-12-25,167.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,No one comes up here without a damn good reason.,The Hateful Eight,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ...","[{'cast_id': 22, 'character': 'Major Marquis W...","[{'credit_id': '538aa95ec3a368714e0005b3', 'de...",155760117
51,52,NaN,12000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,tt0059243,en,The Great Race,"Professional daredevil and white-suited hero, ...",4.473327,...,2065-07-01,160.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"The movie with 20,000-mile or one-million-laug...",The Great Race,"[{'id': 9253, 'name': 'slapstick'}, {'id': 159...","[{'cast_id': 1, 'character': 'Prof. Fate', 'cr...","[{'credit_id': '52fe445e9251416c75032581', 'de...",25333333
76,77,NaN,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0242572,ta,Kandukondain Kandukondain,Two young women with differing views on love f...,0.660663,...,2000-05-05,157.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kandukondain Kandukondain,NaN,"[{'cast_id': 1, 'character': 'Manohar', 'credi...","[{'credit_id': '52fe47c7c3a368484e0d8f41', 'de...",500000
97,98,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,ru,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,...,2011-06-26,158.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Target,NaN,"[{'cast_id': 1001, 'character': 'Victor', 'cre...","[{'credit_id': '58cdbad4c3a36850e9011085', 'de...",73000
107,108,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,...,1995-05-24,177.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,Braveheart,"[{'id': 30, 'name': 'individual'}, {'id': 388,...","[{'cast_id': 5, 'character': 'William Wallace'...","[{'credit_id': '52fe4225c3a36847f80079c1', 'de...",210000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820,2821,NaN,500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt0417241,en,Villan,One of the twins is a bus conductor and the ot...,0.456210,...,2002-12-05,157.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Villan,NaN,"[{'cast_id': 1, 'character': 'Shiva, Vishnu (h...","[{'credit_id': '52fe47c6c3a368484e0d8de1', 'de...",500000
2828,2829,NaN,19500000,"[{'id': 10752, 'name': 'War'}, {'id': 36, 'nam...",NaN,tt3735246,hi,Bajirao Mastani,A historical account of the romance between th...,4.683689,...,2015-12-18,150.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Bajirao Mastani,"[{'id': 232174, 'name': '–ª—é–±–æ–≤—å'}, {'id'...","[{'cast_id': 1, 'character': 'Baji Rao I', 'cr...","[{'credit_id': '560b66e0c3a3686814004c7d', 'de...",56000000
2877,2878,NaN,18000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0086879,en,Amadeus,The incredible story of genius musician Wolfga...,12.677592,...,1984-10-26,160.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...Everything you've heard is true,Amadeus,"[{'id': 131, 'name': 'italy'}, {'id': 1233, 'n...","[{'cast_id': 4, 'character': 'Antonio Salieri'...","[{'credit_id': '57d19657c3a3684b9d008667', 'de...",51973029
2944,2945,NaN,31500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.apocalypsenow.com,tt0078788,en,Apocalypse Now,"At the height of the Vietnam war, Captain Benj...",13.596300,...,1979-08-15,153.0,"[{'iso_639_1': 'km', 'name': ''}, {'iso_639_1'...",Released,This is the end...,Apocalypse Now,"[{'id': 1008, 'name': 'guerrilla'}, {'id': 126...","[{'cast_id': 29, 'character': 'Captain Benjami...","[{'credit_id': '52fe4210c3a36847f80012c7', 'de...",89460381
2965,2966,NaN,61000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.lesmiserablesfilm.com,tt1707386,en,Les Misérables,An adaptation of the successful stage musical ...,13.524080,...,2012-12-18,157.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fight. Dream. Hope. Love.,Les Misérables,"[{'id': 254, 'name': 'france'}, {'id': 642, 'n...",NaN,NaN,441809770

In [296]:
# The code first adds a new column named 'Interval' to the DataFrame where intereval time is Half of runtime
df['Intereval'] = df['runtime']*0.5
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,Intereval
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,46.5
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,56.5
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,52.5
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,61.0
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,59.0

In [297]:
#a new column named 'profit' is added to the DataFrame.
df['profit'] = df['revenue'] - df['budget']
df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,Intereval,profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,46.5,-1685349
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,56.5,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,52.5,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,61.0,14800000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,59.0,3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,51.0,1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,51.0,180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,60.0,24456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,45.0,129963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,53.0,47087155

In [298]:
#.drop(): This is a method provided to remove rows or columns from the DataFrame.
#axis=1 indicates that you want to drop a column
df.drop(['Intereval'], axis = 1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155

In [299]:
#When inplace is set to True, as in this case, the original DataFrame will be modified, and no new DataFrame will be returned.
df.drop(['Intereval'],axis=1, inplace = True)
df

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155

In [300]:
#axis=0 indicates that rows are being targeted for removal.
df.drop([2999],axis=0)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,2995,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067,14715067
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386

In [301]:
# Calculate the Sum,Mean and Mode of Revenue
df['revenue'].sum()
df['revenue'].mean()
df['revenue'].mode()

0     6000000
1    11000000
Name: revenue, dtype: int64

In [302]:
# Calculate the Max Profit
max_profit=df['profit'].max()
max_profit

1316249360

In [303]:
# Get The Max Profited Movie Name
df.loc[df['profit']== max_profit,'title']

1761    Furious 7
Name: title, dtype: object

In [304]:
# Display the Max Profited Movie with Revenue
df.loc[df['revenue']== df['revenue'].max(),['title','revenue']]

             title     revenue
1126  The Avengers  1519557910

In [305]:
# Display the Max budget and Lowest revenue with title
df.loc[(df['budget'] == df['budget'].max()) | (df['revenue'] == df['revenue'].min()),['title','budget','revenue']]

                                            title     budget     revenue
347                       The Wind in the Willows         12           1
1754                                 Mute Witness          2           1
1874                                      Missing          0           1
1917                              The Merry Widow        592           1
2135  Pirates of the Caribbean: On Stranger Tides  380000000  1045713802

In [306]:
# Display the name of movie who  have the max revenue
df[df['revenue'] == df['revenue'].max()]['title'][1126]

'The Avengers'

In [307]:
# Give the Name of Movie how have Lowest budget
df.loc[df['budget']== df['budget'].min(),['title','budget']]

                                           title  budget
4                                     Marine Boy       0
7                                   Control Room       0
8                         Muppet Treasure Island       0
11    Revenge of the Nerds II: Nerds in Paradise       0
17                           The Invisible Woman       0
...                                          ...     ...
2989                     The Trumpet Of The Swan       0
2990                                    B.A.P.S.       0
2994                                 School Ties       0
2995                                     Chasers       0
2996                            We Are the Best!       0

[812 rows x 2 columns]

In [308]:
# Set the imdb_id as a Index
df.set_index('imdb_id', inplace=True)
df.head()

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt2637294,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349
tt0368933,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435
tt2582802,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000
tt1821480,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000
tt1380152,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,3923970

In [309]:
# Reset the Index
df.reset_index(drop=True)

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,/j8Q7pQ27hvH54wpxJzIuQgQCdro.jpg,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,/sS01LSy6KDrCZAhtkO18UdnWFT1.jpg,...,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,/4MENR8x6mYqnZvp2hGjSaPJz64J.jpg,...,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,/nIY4kvJTTnxoBR0wycrXng5MOYs.jpg,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,/cUT6NQP5LAJpmUoStGtXmvNt4zA.jpg,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155

In [310]:
# Create the New Column of title with Uppercase
def to_uppercase(string):
  return string.upper()

df['new_title'] = df['title'].apply(to_uppercase) #note- the result can be seen in the last column
df

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit,new_title
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt2637294,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,HOT TUB TIME MACHINE 2
tt0368933,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT
tt2582802,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,WHIPLASH
tt1821480,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000,KAHAANI
tt1380152,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,3923970,MARINE BOY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt0109403,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,/j8Q7pQ27hvH54wpxJzIuQgQCdro.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,1596687,CHASERS
tt2364975,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,/sS01LSy6KDrCZAhtkO18UdnWFT1.jpg,...,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,180590,WE ARE THE BEST!
tt0116908,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,/4MENR8x6mYqnZvp2hGjSaPJz64J.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,24456761,THE LONG KISS GOODNIGHT
tt0343135,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,/nIY4kvJTTnxoBR0wycrXng5MOYs.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,129963386,ALONG CAME POLLY
tt1600195,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,/cUT6NQP5LAJpmUoStGtXmvNt4zA.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,47087155,ABDUCTION

In [311]:
# Sort the Value by runtime as Descending
df.sort_values('runtime',ascending=False,inplace=True)
df.head()

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit,new_title
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt1321865,1212,NaN,18000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,en,Carlos,"The story of Venezuelan revolutionary, Ilich R...",4.558075,/obHJeOHn8J5XD049nj7KVSpAMEW.jpg,...,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The man who hijacked the world,Carlos,"[{'id': 1419, 'name': 'gun'}, {'id': 7336, 'na...","[{'cast_id': 4, 'character': ""Ilich Ram√≠rez S...","[{'credit_id': '57352b61c3a3680253000870', 'de...",871279,-17128721,CARLOS
tt0056937,1923,NaN,31115000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,Cleopatra,Historical epic. The triumphs and tragedy of t...,8.591238,/bj7rUGUewofA9cpHt1h36gvDFfy.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The motion picture the world has been waiting ...,Cleopatra,"[{'id': 5049, 'name': 'ancient rome'}, {'id': ...","[{'cast_id': 2, 'character': 'Cleopatra', 'cre...","[{'credit_id': '52fe4493c3a36847f809de91', 'de...",71000000,39885000,CLEOPATRA
tt0049833,524,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,The Ten Commandments,"Escaping death, a Hebrew infant is raised in a...",11.147040,/loLrO3SfhHkN3o3fTHdx1vf9ZYf.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Ten Commandments,"[{'id': 1160, 'name': 'egypt'}, {'id': 2618, '...","[{'cast_id': 9, 'character': 'Moses', 'credit_...","[{'credit_id': '58acab8cc3a3686f0d00093f', 'de...",122700000,109700000,THE TEN COMMANDMENTS
tt0080855,1303,NaN,44000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,en,Heaven's Gate,Harvard graduate James Averill (Kris Kristoffe...,4.393576,/sG8bBoqX0gZQBoYNBSwqCtMRJli.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The only thing greater than their passion for ...,Heaven's Gate,"[{'id': 680, 'name': 'montana'}, {'id': 797, '...","[{'cast_id': 1, 'character': 'James Averill', ...","[{'credit_id': '52fe43d49251416c7501fcf7', 'de...",3484331,-40515669,HEAVEN'S GATE
tt0279111,1915,NaN,56000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,Gods and Generals,The film centers mostly around the personal an...,5.374563,/jodqsKcMfd31vqXHCosQ8joB5Hm.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The nations heart was touched by...,Gods and Generals,"[{'id': 6091, 'name': 'war'}, {'id': 14643, 'n...","[{'cast_id': 3, 'character': 'Lt. Gen. Thomas ...","[{'credit_id': '52fe469e9251416c7507dfbb', 'de...",12923936,-43076064,GODS AND GENERALS

In [312]:
# Sort the DataFrame by Index
df.sort_index(inplace= True)

In [313]:
#importing datetime
from datetime import datetime
from datetime import date

In [314]:
df['release_date'][0]

Timestamp('2015-02-08 00:00:00')

In [315]:
#strptime
#strftime
#note- remember, we have used the strftime function here because initially only while we read the file, we have already parsed the 'release_date' column.
print(datetime.strftime(df['release_date'][0], "%m/%d/%y"))

02/08/15

In [316]:
a = datetime.strftime(df['release_date'][0], "%m/%d/%y")
type(a)

str

In [317]:
df['new_release_date']=df['release_date'].apply(lambda x : datetime.strftime(x, '%m/%d/%y'))
df['new_release_date'].head()

imdb_id
tt0004972    02/08/15
tt0006333    12/24/16
tt0012349    01/21/21
tt0015400    03/18/24
tt0015648    12/24/25
Name: new_release_date, dtype: object

In [318]:
df['new_release_date'][0]

'02/08/15'

In [319]:
from datetime import datetime
from datetime import date

In [320]:
#using strptime and strftime

a=datetime.strftime(df['release_date'][0],"%m/%d/%y")
a

'02/08/15'

In [321]:
df['New_date']=df['release_date'].apply(lambda x:datetime.strftime(x,'%m/%d/%y'))
df.head()

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0004972,606,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,/zYtgDRSOQeZmGbHkXff5CcEg05g.jpg,...,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,"[{'id': 529, 'name': 'ku klux klan'}, {'id': 5...","[{'cast_id': 16, 'character': 'Elsie Stoneman'...","[{'credit_id': '59d42f0ec3a368453f009d78', 'de...",11000000,10900000,THE BIRTH OF A NATION,02/08/15,02/08/15
tt0006333,2227,NaN,200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,en,"20,000 Leagues Under the Sea",Captain Nemo has built a fantastic submarine f...,0.917777,/RHnJt7A73W5oRgIKXRfFlSCHG.jpg,...,The First Submarine Photoplay Ever Filmed,"20,000 Leagues Under the Sea","[{'id': 9748, 'name': 'revenge'}, {'id': 10568...","[{'cast_id': 1, 'character': ""Prince Daaker's ...","[{'credit_id': '52fe44099251416c91002bb3', 'de...",8000000,7800000,"20,000 LEAGUES UNDER THE SEA",12/24/16,12/24/16
tt0012349,1764,NaN,250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Kid,Considered one of Charlie Chaplin's best films...,8.168456,/drgMcyTsySQBnUPGaBThCHGdlWT.jpg,...,6 reels of Joy.,The Kid,"[{'id': 290, 'name': 'angel'}, {'id': 1252, 'n...","[{'cast_id': 10, 'character': 'A Tramp', 'cred...","[{'credit_id': '52fe43269251416c75005605', 'de...",2500000,2250000,THE KID,01/21/21,01/21/21
tt0015400,2993,NaN,1135654,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,en,The Thief of Bagdad,A recalcitrant thief vies with a duplicitous M...,3.878515,/a6IzXkwZRDimfn8HATzP6Pi6Ois.jpg,...,"""Happiness Must Be Earned""",The Thief of Bagdad,"[{'id': 255, 'name': 'male nudity'}, {'id': 14...","[{'cast_id': 3, 'character': 'The Thief of Bag...","[{'credit_id': '52fe45bec3a368484e06c70b', 'de...",1213880,78226,THE THIEF OF BAGDAD,03/18/24,03/18/24
tt0015648,1362,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,ru,Броненосец «Потёмкин»,A dramatized account of a great Russian naval ...,12.912845,/A5kk0FA4kS9sHLYzC6NI72OOhPc.jpg,...,"Revolution is the only lawful, equal, effectua...",Battleship Potemkin,"[{'id': 1816, 'name': 'staircase'}, {'id': 323...","[{'cast_id': 8, 'character': 'Grigory Vakulinc...","[{'credit_id': '52fe4263c3a36847f801a8cf', 'de...",45100,45100,BATTLESHIP POTEMKIN,12/24/25,12/24/25

In [322]:
def str_to_date(string):
  return datetime.strptime(string,"%m/%d/%y")
df.head()

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0004972,606,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,/zYtgDRSOQeZmGbHkXff5CcEg05g.jpg,...,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,"[{'id': 529, 'name': 'ku klux klan'}, {'id': 5...","[{'cast_id': 16, 'character': 'Elsie Stoneman'...","[{'credit_id': '59d42f0ec3a368453f009d78', 'de...",11000000,10900000,THE BIRTH OF A NATION,02/08/15,02/08/15
tt0006333,2227,NaN,200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,en,"20,000 Leagues Under the Sea",Captain Nemo has built a fantastic submarine f...,0.917777,/RHnJt7A73W5oRgIKXRfFlSCHG.jpg,...,The First Submarine Photoplay Ever Filmed,"20,000 Leagues Under the Sea","[{'id': 9748, 'name': 'revenge'}, {'id': 10568...","[{'cast_id': 1, 'character': ""Prince Daaker's ...","[{'credit_id': '52fe44099251416c91002bb3', 'de...",8000000,7800000,"20,000 LEAGUES UNDER THE SEA",12/24/16,12/24/16
tt0012349,1764,NaN,250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Kid,Considered one of Charlie Chaplin's best films...,8.168456,/drgMcyTsySQBnUPGaBThCHGdlWT.jpg,...,6 reels of Joy.,The Kid,"[{'id': 290, 'name': 'angel'}, {'id': 1252, 'n...","[{'cast_id': 10, 'character': 'A Tramp', 'cred...","[{'credit_id': '52fe43269251416c75005605', 'de...",2500000,2250000,THE KID,01/21/21,01/21/21
tt0015400,2993,NaN,1135654,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,en,The Thief of Bagdad,A recalcitrant thief vies with a duplicitous M...,3.878515,/a6IzXkwZRDimfn8HATzP6Pi6Ois.jpg,...,"""Happiness Must Be Earned""",The Thief of Bagdad,"[{'id': 255, 'name': 'male nudity'}, {'id': 14...","[{'cast_id': 3, 'character': 'The Thief of Bag...","[{'credit_id': '52fe45bec3a368484e06c70b', 'de...",1213880,78226,THE THIEF OF BAGDAD,03/18/24,03/18/24
tt0015648,1362,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,ru,Броненосец «Потёмкин»,A dramatized account of a great Russian naval ...,12.912845,/A5kk0FA4kS9sHLYzC6NI72OOhPc.jpg,...,"Revolution is the only lawful, equal, effectua...",Battleship Potemkin,"[{'id': 1816, 'name': 'staircase'}, {'id': 323...","[{'cast_id': 8, 'character': 'Grigory Vakulinc...","[{'credit_id': '52fe4263c3a36847f801a8cf', 'de...",45100,45100,BATTLESHIP POTEMKIN,12/24/25,12/24/25

In [323]:
df['release_date'][0:5]

imdb_id
tt0004972   2015-02-08
tt0006333   2016-12-24
tt0012349   2021-01-21
tt0015400   2024-03-18
tt0015648   2025-12-24
Name: release_date, dtype: datetime64[ns]

In [324]:
df.loc[(df['budget'] == df['budget'].max())|(df['revenue'] == df['revenue'].max())][['title','release_date']]

                                                 title release_date
imdb_id
tt0848228                                 The Avengers   2012-04-25
tt1298650  Pirates of the Caribbean: On Stranger Tides   2011-05-14

In [325]:
df[(df['budget'] == df['budget'].max())|(df['revenue'] == df['revenue'].max())][['title','release_date']]

                                                 title release_date
imdb_id
tt0848228                                 The Avengers   2012-04-25
tt1298650  Pirates of the Caribbean: On Stranger Tides   2011-05-14

In [326]:
df['original_language'].unique()

array(['en', 'ru', 'fr', 'ja', 'bn', 'it', 'el', 'de', 'es', 'sv', 'nl',
       'cn', 'zh', 'fa', 'pt', 'hi', 'da', 'ta', 'hu', 'ko', 'cs', 'vi',
       'fi', 'pl', 'ro', 'sr', 'he', 'tr', 'te', 'no', 'nb', 'ar', 'id',
       'ml', 'ur', 'mr'], dtype=object)

In [327]:
df['original_language'].nunique()

36

In [328]:
df['original_language'].value_counts()

en    2575
fr      78
ru      47
es      43
hi      42
ja      37
it      24
ko      20
cn      20
zh      19
de      18
ta      16
sv       8
nl       6
pt       6
fa       5
da       5
ro       4
tr       3
hu       3
fi       2
pl       2
te       2
no       2
ml       2
cs       1
vi       1
el       1
sr       1
he       1
bn       1
nb       1
ar       1
id       1
ur       1
mr       1
Name: original_language, dtype: int64

In [329]:
df['status'].unique()

array(['Released', 'Rumored'], dtype=object)

In [330]:
df['status'].nunique()

2

In [331]:
df['status'].value_counts()

Released    2996
Rumored        4
Name: status, dtype: int64

In [332]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, tt0004972 to tt6673840
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   original_language      3000 non-null   object
 6   original_title         3000 non-null   object
 7   overview               2992 non-null   object
 8   popularity             3000 non-null   float64
 9   poster_path            2999 non-null   object
 10  production_companies   2844 non-null   object
 11  production_countries   2945 non-null   object
 12  release_date           3000 non-null   datetime64[ns]
 13  runtime                2998 non-null   float64
 14  spoken_languages       2980 non-null   object
 15  status                 3000 non-null   object
 16  tagline                2403 non-null   object
 17  title                  3000 non-null   object
 18  Keywords               2724 non-null   object
 19  cast                   2987 non-null   object
 20  crew                   2984 non-null   object
 21  revenue                3000 non-null   int64
 22  profit                 3000 non-null   int64
 23  new_title              3000 non-null   object
 24  new_release_date       3000 non-null   object
 25  New_date               3000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(4), object(19)
memory usage: 632.8+ KB

In [333]:
df[df['runtime'].isna()]

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0116485,2303,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,de,Happy Weekend,NaN,0.002229,NaN,...,NaN,Happy Weekend,"[{'id': 572, 'name': 'sex'}, {'id': 596, 'name...","[{'cast_id': 0, 'character': 'Joachim Krippo',...",NaN,65335,65335,HAPPY WEEKEND,03/14/96,03/14/96
tt1107828,1336,NaN,6000000,"[{'id': 18, 'name': 'Drama'}]",NaN,ru,Королёв,NaN,0.292296,/2XcRiIvliLUUGqv5qOvpc76WeCU.jpg,...,NaN,Королёв,NaN,"[{'cast_id': 3, 'character': '–°–µ—Ä–≥–µ–π –ö–...","[{'credit_id': '52fe4db29251416c7513d819', 'de...",31000,-5969000,КОРОЛЁВ,10/29/07,10/29/07

In [334]:
df[~df['runtime'].isna()]

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0004972,606,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,/zYtgDRSOQeZmGbHkXff5CcEg05g.jpg,...,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,"[{'id': 529, 'name': 'ku klux klan'}, {'id': 5...","[{'cast_id': 16, 'character': 'Elsie Stoneman'...","[{'credit_id': '59d42f0ec3a368453f009d78', 'de...",11000000,10900000,THE BIRTH OF A NATION,02/08/15,02/08/15
tt0006333,2227,NaN,200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,en,"20,000 Leagues Under the Sea",Captain Nemo has built a fantastic submarine f...,0.917777,/RHnJt7A73W5oRgIKXRfFlSCHG.jpg,...,The First Submarine Photoplay Ever Filmed,"20,000 Leagues Under the Sea","[{'id': 9748, 'name': 'revenge'}, {'id': 10568...","[{'cast_id': 1, 'character': ""Prince Daaker's ...","[{'credit_id': '52fe44099251416c91002bb3', 'de...",8000000,7800000,"20,000 LEAGUES UNDER THE SEA",12/24/16,12/24/16
tt0012349,1764,NaN,250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Kid,Considered one of Charlie Chaplin's best films...,8.168456,/drgMcyTsySQBnUPGaBThCHGdlWT.jpg,...,6 reels of Joy.,The Kid,"[{'id': 290, 'name': 'angel'}, {'id': 1252, 'n...","[{'cast_id': 10, 'character': 'A Tramp', 'cred...","[{'credit_id': '52fe43269251416c75005605', 'de...",2500000,2250000,THE KID,01/21/21,01/21/21
tt0015400,2993,NaN,1135654,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,en,The Thief of Bagdad,A recalcitrant thief vies with a duplicitous M...,3.878515,/a6IzXkwZRDimfn8HATzP6Pi6Ois.jpg,...,"""Happiness Must Be Earned""",The Thief of Bagdad,"[{'id': 255, 'name': 'male nudity'}, {'id': 14...","[{'cast_id': 3, 'character': 'The Thief of Bag...","[{'credit_id': '52fe45bec3a368484e06c70b', 'de...",1213880,78226,THE THIEF OF BAGDAD,03/18/24,03/18/24
tt0015648,1362,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,ru,Броненосец «Потёмкин»,A dramatized account of a great Russian naval ...,12.912845,/A5kk0FA4kS9sHLYzC6NI72OOhPc.jpg,...,"Revolution is the only lawful, equal, effectua...",Battleship Potemkin,"[{'id': 1816, 'name': 'staircase'}, {'id': 323...","[{'cast_id': 8, 'character': 'Grigory Vakulinc...","[{'credit_id': '52fe4263c3a36847f801a8cf', 'de...",45100,45100,BATTLESHIP POTEMKIN,12/24/25,12/24/25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt5946128,2437,NaN,4300000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,hi,Dear Zindagi,An unconventional thinker (Shah Rukh Khan) hel...,3.699552,/eKFZFwKtJJXczpguU5zgUhgleox.jpg,...,NaN,Dear Zindagi,NaN,"[{'cast_id': 8, 'character': 'Kaira', 'credit_...","[{'credit_id': '57c6e9c3c3a3680ba4001c63', 'de...",3376375,-923625,DEAR ZINDAGI,11/24/16,11/24/16
tt6003368,2490,"[{'id': 86110, 'name': 'Diary of a Wimpy Kid C...",22000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,en,Diary of a Wimpy Kid: The Long Haul,A Heffley family road trip to attend Meemaw's ...,28.176992,/mSBUClLuB70a2unFvW4m48OG9VF.jpg,...,NaN,Diary of a Wimpy Kid: The Long Haul,NaN,"[{'cast_id': 39, 'character': 'Greg Heffley', ...","[{'credit_id': '57e6f624c3a368220e009c0c', 'de...",40120144,18120144,DIARY OF A WIMPY KID: THE LONG HAUL,05/19/17,05/19/17
tt6201292,1203,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,ta,பைரவா,A loan recovery agent takes on a corrupt head ...,1.459459,/hBtRwo9BIdRARsNZPtAHvlse0mg.jpg,...,NaN,Bairavaa,"[{'id': 166539, 'name': 'loan officer'}, {'id'...","[{'cast_id': 6, 'character': 'Bairavaa', 'cred...","[{'credit_id': '57b46170c3a36819b50050ba', 'de...",17000000,17000000,BAIRAVAA,01/12/17,01/12/17
tt6574272,497,NaN,2800000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://phoenixforgotten.com/,en,Phoenix Forgotten,20 years after three teenagers disappeared in ...,12.560942,/8GJ9a0FgkCKIqKvGtkppTTALGG3.jpg,...,Based on Shocking Untold True Events,Phoenix Forgotten,"[{'id': 163053, 'name': 'found footage'}]","[{'cast_id': 2, 'character': 'Sophie', 'credit...","[{'credit_id': '58b30eca92514177a8006e71', 'de...",3600000,800000,PHOENIX FORGOTTEN,04/21/17,04/21/17
tt6673840,392,NaN,7075038,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,ru,Время первых,"March 1965. In the heat of the Cold War, the U...",10.181000,/hDNVRmrprxI9NQ0zc2Uu03p65Fw.jpg,...,"So far from home, so close to disaster",The Spacewalker,"[{'id': 14626, 'name': 'astronaut'}, {'id': 19...","[{'cast_id': 3, 'character': 'Alexey Leonov', ...","[{'credit_id': '589c5145c3a3684cde007fb5', 'de...",9868942,2793904,THE SPACEWALKER,04/12/17,04/12/17

In [335]:
df[df['runtime'].notna()]

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0004972,606,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,/zYtgDRSOQeZmGbHkXff5CcEg05g.jpg,...,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,"[{'id': 529, 'name': 'ku klux klan'}, {'id': 5...","[{'cast_id': 16, 'character': 'Elsie Stoneman'...","[{'credit_id': '59d42f0ec3a368453f009d78', 'de...",11000000,10900000,THE BIRTH OF A NATION,02/08/15,02/08/15
tt0006333,2227,NaN,200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,en,"20,000 Leagues Under the Sea",Captain Nemo has built a fantastic submarine f...,0.917777,/RHnJt7A73W5oRgIKXRfFlSCHG.jpg,...,The First Submarine Photoplay Ever Filmed,"20,000 Leagues Under the Sea","[{'id': 9748, 'name': 'revenge'}, {'id': 10568...","[{'cast_id': 1, 'character': ""Prince Daaker's ...","[{'credit_id': '52fe44099251416c91002bb3', 'de...",8000000,7800000,"20,000 LEAGUES UNDER THE SEA",12/24/16,12/24/16
tt0012349,1764,NaN,250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Kid,Considered one of Charlie Chaplin's best films...,8.168456,/drgMcyTsySQBnUPGaBThCHGdlWT.jpg,...,6 reels of Joy.,The Kid,"[{'id': 290, 'name': 'angel'}, {'id': 1252, 'n...","[{'cast_id': 10, 'character': 'A Tramp', 'cred...","[{'credit_id': '52fe43269251416c75005605', 'de...",2500000,2250000,THE KID,01/21/21,01/21/21
tt0015400,2993,NaN,1135654,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,en,The Thief of Bagdad,A recalcitrant thief vies with a duplicitous M...,3.878515,/a6IzXkwZRDimfn8HATzP6Pi6Ois.jpg,...,"""Happiness Must Be Earned""",The Thief of Bagdad,"[{'id': 255, 'name': 'male nudity'}, {'id': 14...","[{'cast_id': 3, 'character': 'The Thief of Bag...","[{'credit_id': '52fe45bec3a368484e06c70b', 'de...",1213880,78226,THE THIEF OF BAGDAD,03/18/24,03/18/24
tt0015648,1362,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,ru,Броненосец «Потёмкин»,A dramatized account of a great Russian naval ...,12.912845,/A5kk0FA4kS9sHLYzC6NI72OOhPc.jpg,...,"Revolution is the only lawful, equal, effectua...",Battleship Potemkin,"[{'id': 1816, 'name': 'staircase'}, {'id': 323...","[{'cast_id': 8, 'character': 'Grigory Vakulinc...","[{'credit_id': '52fe4263c3a36847f801a8cf', 'de...",45100,45100,BATTLESHIP POTEMKIN,12/24/25,12/24/25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt5946128,2437,NaN,4300000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,hi,Dear Zindagi,An unconventional thinker (Shah Rukh Khan) hel...,3.699552,/eKFZFwKtJJXczpguU5zgUhgleox.jpg,...,NaN,Dear Zindagi,NaN,"[{'cast_id': 8, 'character': 'Kaira', 'credit_...","[{'credit_id': '57c6e9c3c3a3680ba4001c63', 'de...",3376375,-923625,DEAR ZINDAGI,11/24/16,11/24/16
tt6003368,2490,"[{'id': 86110, 'name': 'Diary of a Wimpy Kid C...",22000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,en,Diary of a Wimpy Kid: The Long Haul,A Heffley family road trip to attend Meemaw's ...,28.176992,/mSBUClLuB70a2unFvW4m48OG9VF.jpg,...,NaN,Diary of a Wimpy Kid: The Long Haul,NaN,"[{'cast_id': 39, 'character': 'Greg Heffley', ...","[{'credit_id': '57e6f624c3a368220e009c0c', 'de...",40120144,18120144,DIARY OF A WIMPY KID: THE LONG HAUL,05/19/17,05/19/17
tt6201292,1203,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,ta,பைரவா,A loan recovery agent takes on a corrupt head ...,1.459459,/hBtRwo9BIdRARsNZPtAHvlse0mg.jpg,...,NaN,Bairavaa,"[{'id': 166539, 'name': 'loan officer'}, {'id'...","[{'cast_id': 6, 'character': 'Bairavaa', 'cred...","[{'credit_id': '57b46170c3a36819b50050ba', 'de...",17000000,17000000,BAIRAVAA,01/12/17,01/12/17
tt6574272,497,NaN,2800000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://phoenixforgotten.com/,en,Phoenix Forgotten,20 years after three teenagers disappeared in ...,12.560942,/8GJ9a0FgkCKIqKvGtkppTTALGG3.jpg,...,Based on Shocking Untold True Events,Phoenix Forgotten,"[{'id': 163053, 'name': 'found footage'}]","[{'cast_id': 2, 'character': 'Sophie', 'credit...","[{'credit_id': '58b30eca92514177a8006e71', 'de...",3600000,800000,PHOENIX FORGOTTEN,04/21/17,04/21/17
tt6673840,392,NaN,7075038,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,ru,Время первых,"March 1965. In the heat of the Cold War, the U...",10.181000,/hDNVRmrprxI9NQ0zc2Uu03p65Fw.jpg,...,"So far from home, so close to disaster",The Spacewalker,"[{'id': 14626, 'name': 'astronaut'}, {'id': 19...","[{'cast_id': 3, 'character': 'Alexey Leonov', ...","[{'credit_id': '589c5145c3a3684cde007fb5', 'de...",9868942,2793904,THE SPACEWALKER,04/12/17,04/12/17

In [336]:
df['runtime'].fillna(0,inplace=True)

In [337]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, tt0004972 to tt6673840
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   original_language      3000 non-null   object
 6   original_title         3000 non-null   object
 7   overview               2992 non-null   object
 8   popularity             3000 non-null   float64
 9   poster_path            2999 non-null   object
 10  production_companies   2844 non-null   object
 11  production_countries   2945 non-null   object
 12  release_date           3000 non-null   datetime64[ns]
 13  runtime                3000 non-null   float64
 14  spoken_languages       2980 non-null   object
 15  status                 3000 non-null   object
 16  tagline                2403 non-null   object
 17  title                  3000 non-null   object
 18  Keywords               2724 non-null   object
 19  cast                   2987 non-null   object
 20  crew                   2984 non-null   object
 21  revenue                3000 non-null   int64
 22  profit                 3000 non-null   int64
 23  new_title              3000 non-null   object
 24  new_release_date       3000 non-null   object
 25  New_date               3000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(4), object(19)
memory usage: 632.8+ KB

In [338]:
df['spoken_languages'].replace(np.nan,"abc", inplace=True)

In [339]:
df[df['spoken_languages']=="abc"].head()

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0016104,1918,NaN,592,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,en,The Merry Widow,Prince Danilo falls in love with dancer Sally ...,0.286719,/dCVkB0POblxtn3BegTNcwTPMKUP.jpg,...,NaN,The Merry Widow,"[{'id': 1691, 'name': 'dance'}, {'id': 10181, ...","[{'cast_id': 2, 'character': ""Sally O'Hara"", '...","[{'credit_id': '57351170c3a36802410000d5', 'de...",1,-591,THE MERRY WIDOW,08/26/25,08/26/25
tt0018618,1761,NaN,290000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,en,Across to Singapore,While Joel and his older ship's captain brothe...,0.140491,/4YMT3DMhJBRmOSM69gD1spbg6SZ.jpg,...,A boy and a girl---alone against a ship full o...,Across to Singapore,"[{'id': 1860, 'name': 'mutiny'}, {'id': 2692, ...","[{'cast_id': 6, 'character': 'Joel Shore', 'cr...","[{'credit_id': '52fe4ad19251416c750ef331', 'de...",596000,306000,ACROSS TO SINGAPORE,04/07/28,04/07/28
tt0081760,151,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,en,Windwalker,An ancient Indian warrior who has reached the ...,1.178642,/9TqchxwxJhutkIO3BwdibYcxN8J.jpg,...,He conquered love and death...now he walks the...,Windwalker,"[{'id': 1262, 'name': 'mountain'}, {'id': 1930...","[{'cast_id': 5, 'character': 'Windwalker', 'cr...","[{'credit_id': '52fe494b9251416c910a8add', 'de...",18,18,WINDWALKER,12/12/80,12/12/80
tt0092717,1504,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,en,Campus Man,Todd Barret is an aspiring businessman. He's g...,0.000844,/eBCRIaRMcmyxFeKHzgeDM7xeTdR.jpg,...,"All the girls want to take Brett Wilson home, ...",Campus Man,NaN,"[{'cast_id': 7, 'character': 'Todd Barrett', '...","[{'credit_id': '59e1573292514172bb005191', 'de...",989000,989000,CAMPUS MAN,04/10/87,04/10/87
tt0092794,1102,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,Crazy Love,Three 'Bukowskian' torrid nights in the life o...,0.288203,/fFbMigzesJSvNP9B6pXLcHDV1SW.jpg,...,NaN,Crazy Love,NaN,"[{'cast_id': 5, 'character': 'Jonge Harry Voss...","[{'credit_id': '52fe4878c3a36847f8168985', 'de...",119919,119919,CRAZY LOVE,10/01/87,10/01/87

In [340]:
df['status'] = np.where(df['status']=="Rumored", "postponed", df['status'])

In [341]:
df[df['status']=="postponed"]

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0091024,1217,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,en,Extremities,A woman escapes from the man who is about to r...,10.273979,/pMN14kaump5CrzbSl1C0a2E0M4f.jpg,...,"When fear made her a victim, she turned fear i...",Extremities,"[{'id': 2483, 'name': 'nudity'}, {'id': 2539, ...","[{'cast_id': 1, 'character': 'Marjorie', 'cred...","[{'credit_id': '582cca1c925141780b00259f', 'de...",13418091,13418091,EXTREMITIES,08/22/86,08/22/86
tt0120254,610,"[{'id': 144200, 'name': 'Swan Princess Series'...",0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 16, 'na...",NaN,en,The Swan Princess: Escape from Castle Mountain,The first wedding anniversary of Princess Odet...,5.121309,/oTEgvTpAIugS7OH6oIoVZkmV3C3.jpg,...,It Will Take All Her Magic to Rescue Her Friends!,The Swan Princess: Escape from Castle Mountain,"[{'id': 3071, 'name': 'prince'}, {'id': 4456, ...","[{'cast_id': 2, 'character': 'Odette (voice)',...","[{'credit_id': '52fe488bc3a36847f816cfd3', 'de...",273644,273644,THE SWAN PRINCESS: ESCAPE FROM CASTLE MOUNTAIN,01/01/97,01/01/97
tt0145394,1619,NaN,891000,"[{'id': 99, 'name': 'Documentary'}]",NaN,en,A Place Called Chiapas,"On January 1, 1994, the Zapatista National Lib...",0.179246,/4j9U7QMT5D5HhUoIsoAI1niVqz8.jpg,...,Inside the world's first postmodern revolution,A Place Called Chiapas,"[{'id': 187056, 'name': 'woman director'}]","[{'cast_id': 1, 'character': 'Himself', 'credi...","[{'credit_id': '57b4f7619251417287000dfc', 'de...",229000,-662000,A PLACE CALLED CHIAPAS,02/20/98,02/20/98
tt1860180,1008,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,en,Billy Gardell: Halftime,"Billy Gardell, the star of CBS' hit comedy ""Mi...",0.007877,/3ypM4bwZTvUfXiKJTs0BaEZuBhe.jpg,...,NaN,Billy Gardell: Halftime,NaN,"[{'cast_id': 9, 'character': 'Himself', 'credi...","[{'credit_id': '52fe4be1c3a368484e19d265', 'de...",60,60,BILLY GARDELL: HALFTIME,02/05/11,02/05/11

In [342]:
df.loc[df['runtime']>120]

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0004972,606,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,/zYtgDRSOQeZmGbHkXff5CcEg05g.jpg,...,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,"[{'id': 529, 'name': 'ku klux klan'}, {'id': 5...","[{'cast_id': 16, 'character': 'Elsie Stoneman'...","[{'credit_id': '59d42f0ec3a368453f009d78', 'de...",11000000,10900000,THE BIRTH OF A NATION,02/08/15,02/08/15
tt0015400,2993,NaN,1135654,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,en,The Thief of Bagdad,A recalcitrant thief vies with a duplicitous M...,3.878515,/a6IzXkwZRDimfn8HATzP6Pi6Ois.jpg,...,"""Happiness Must Be Earned""",The Thief of Bagdad,"[{'id': 255, 'name': 'male nudity'}, {'id': 14...","[{'cast_id': 3, 'character': 'The Thief of Bag...","[{'credit_id': '52fe45bec3a368484e06c70b', 'de...",1213880,78226,THE THIEF OF BAGDAD,03/18/24,03/18/24
tt0016104,1918,NaN,592,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,en,The Merry Widow,Prince Danilo falls in love with dancer Sally ...,0.286719,/dCVkB0POblxtn3BegTNcwTPMKUP.jpg,...,NaN,The Merry Widow,"[{'id': 1691, 'name': 'dance'}, {'id': 10181, ...","[{'cast_id': 2, 'character': ""Sally O'Hara"", '...","[{'credit_id': '57351170c3a36802410000d5', 'de...",1,-591,THE MERRY WIDOW,08/26/25,08/26/25
tt0031679,1304,NaN,1500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,Mr. Smith Goes to Washington,"Naive and idealistic Jefferson Smith, leader o...",8.168694,/jZDRazOQhKFGoK322rYiBk1fpsY.jpg,...,"Romance, drama, laughter and heartbreak... cre...",Mr. Smith Goes to Washington,"[{'id': 417, 'name': 'corruption'}, {'id': 521...",NaN,NaN,9600000,8100000,MR. SMITH GOES TO WASHINGTON,10/19/39,10/19/39
tt0032143,2191,NaN,1688000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Women,Wealthy Mary Haines is unaware her husband is ...,5.076649,/fQGTjCv1FQf7TuO27HW4VmF7Iph.jpg,...,It's all about men!,The Women,"[{'id': 515, 'name': 'women'}, {'id': 1197, 'n...","[{'cast_id': 1, 'character': 'Mrs. Stephen Hai...","[{'credit_id': '52fe4442c3a368484e018f7b', 'de...",2270000,582000,THE WOMEN,01/01/39,01/01/39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt5320514,2981,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,0.350207,/2Gs9TXEwFnjyvwSFKmsm437hvq3.jpg,...,A ride with a police officer,Action Hero Biju,"[{'id': 1252, 'name': 'suicide attempt'}, {'id...","[{'cast_id': 1, 'character': 'Sub-Inspector Bi...","[{'credit_id': '56b4d47f92514112b90045f6', 'de...",2500000,2200000,ACTION HERO BIJU,02/04/16,02/04/16
tt5662932,1695,NaN,521873,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,hi,रमन राघव २.०,Set in present day Mumbai the story follows th...,1.668794,/m6TIIed4xwx2dZaqcd6748Kjscj.jpg,...,NaN,Raman Raghav 2.0,"[{'id': 10024, 'name': 'psychopathic killer'},...","[{'cast_id': 6, 'character': 'Ramanna (Raman)'...","[{'credit_id': '57160f17c3a3682f450033eb', 'de...",1013926,492053,RAMAN RAGHAV 2.0,06/24/16,06/24/16
tt5946128,2437,NaN,4300000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,hi,Dear Zindagi,An unconventional thinker (Shah Rukh Khan) hel...,3.699552,/eKFZFwKtJJXczpguU5zgUhgleox.jpg,...,NaN,Dear Zindagi,NaN,"[{'cast_id': 8, 'character': 'Kaira', 'credit_...","[{'credit_id': '57c6e9c3c3a3680ba4001c63', 'de...",3376375,-923625,DEAR ZINDAGI,11/24/16,11/24/16
tt6201292,1203,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,ta,பைரவா,A loan recovery agent takes on a corrupt head ...,1.459459,/hBtRwo9BIdRARsNZPtAHvlse0mg.jpg,...,NaN,Bairavaa,"[{'id': 166539, 'name': 'loan officer'}, {'id'...","[{'cast_id': 6, 'character': 'Bairavaa', 'cred...","[{'credit_id': '57b46170c3a36819b50050ba', 'de...",17000000,17000000,BAIRAVAA,01/12/17,01/12/17
tt6673840,392,NaN,7075038,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,ru,Время первых,"March 1965. In the heat of the Cold War, the U...",10.181000,/hDNVRmrprxI9NQ0zc2Uu03p65Fw.jpg,...,"So far from home, so close to disaster",The Spacewalker,"[{'id': 14626, 'name': 'astronaut'}, {'id': 19...","[{'cast_id': 3, 'character': 'Alexey Leonov', ...","[{'credit_id': '589c5145c3a3684cde007fb5', 'de...",9868942,2793904,THE SPACEWALKER,04/12/17,04/12/17

In [343]:
df[(df['runtime'] >= 120) & (df['runtime'] <= 150)]

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0015400,2993,NaN,1135654,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,en,The Thief of Bagdad,A recalcitrant thief vies with a duplicitous M...,3.878515,/a6IzXkwZRDimfn8HATzP6Pi6Ois.jpg,...,"""Happiness Must Be Earned""",The Thief of Bagdad,"[{'id': 255, 'name': 'male nudity'}, {'id': 14...","[{'cast_id': 3, 'character': 'The Thief of Bag...","[{'credit_id': '52fe45bec3a368484e06c70b', 'de...",1213880,78226,THE THIEF OF BAGDAD,03/18/24,03/18/24
tt0016104,1918,NaN,592,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,en,The Merry Widow,Prince Danilo falls in love with dancer Sally ...,0.286719,/dCVkB0POblxtn3BegTNcwTPMKUP.jpg,...,NaN,The Merry Widow,"[{'id': 1691, 'name': 'dance'}, {'id': 10181, ...","[{'cast_id': 2, 'character': ""Sally O'Hara"", '...","[{'credit_id': '57351170c3a36802410000d5', 'de...",1,-591,THE MERRY WIDOW,08/26/25,08/26/25
tt0031679,1304,NaN,1500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,Mr. Smith Goes to Washington,"Naive and idealistic Jefferson Smith, leader o...",8.168694,/jZDRazOQhKFGoK322rYiBk1fpsY.jpg,...,"Romance, drama, laughter and heartbreak... cre...",Mr. Smith Goes to Washington,"[{'id': 417, 'name': 'corruption'}, {'id': 521...",NaN,NaN,9600000,8100000,MR. SMITH GOES TO WASHINGTON,10/19/39,10/19/39
tt0032143,2191,NaN,1688000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,en,The Women,Wealthy Mary Haines is unaware her husband is ...,5.076649,/fQGTjCv1FQf7TuO27HW4VmF7Iph.jpg,...,It's all about men!,The Women,"[{'id': 515, 'name': 'women'}, {'id': 1197, 'n...","[{'cast_id': 1, 'character': 'Mrs. Stephen Hai...","[{'credit_id': '52fe4442c3a368484e018f7b', 'de...",2270000,582000,THE WOMEN,01/01/39,01/01/39
tt0032553,2653,NaN,2000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,en,The Great Dictator,Dictator Adenoid Hynkel tries to expand his em...,9.241748,/hK2KsU0lNiYRqIrYJcC3x63dPnH.jpg,...,Once again - the whole world laughs!,The Great Dictator,"[{'id': 74, 'name': 'germany'}, {'id': 407, 'n...","[{'cast_id': 13, 'character': 'Hynkel - Dictat...","[{'credit_id': '52fe428cc3a36847f8027429', 'de...",11000000,9000000,THE GREAT DICTATOR,10/15/40,10/15/40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt5286444,841,NaN,10721568,"[{'id': 18, 'name': 'Drama'}]",https://www.facebook.com/foxstarhindi/,hi,नीरजा,Neerja is a portrayal on the life of the coura...,1.686250,/kamR6xgcyhGj05NcwbH5zoGdckE.jpg,...,Fear Gave Her Courage,Neerja,"[{'id': 4245, 'name': 'hijacking'}, {'id': 967...","[{'cast_id': 0, 'character': 'Neerja Bhanot', ...","[{'credit_id': '5692588192514115bf001d11', 'de...",2978994,-7742574,NEERJA,02/19/16,02/19/16
tt5320514,2981,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,0.350207,/2Gs9TXEwFnjyvwSFKmsm437hvq3.jpg,...,A ride with a police officer,Action Hero Biju,"[{'id': 1252, 'name': 'suicide attempt'}, {'id...","[{'cast_id': 1, 'character': 'Sub-Inspector Bi...","[{'credit_id': '56b4d47f92514112b90045f6', 'de...",2500000,2200000,ACTION HERO BIJU,02/04/16,02/04/16
tt5662932,1695,NaN,521873,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,hi,रमन राघव २.०,Set in present day Mumbai the story follows th...,1.668794,/m6TIIed4xwx2dZaqcd6748Kjscj.jpg,...,NaN,Raman Raghav 2.0,"[{'id': 10024, 'name': 'psychopathic killer'},...","[{'cast_id': 6, 'character': 'Ramanna (Raman)'...","[{'credit_id': '57160f17c3a3682f450033eb', 'de...",1013926,492053,RAMAN RAGHAV 2.0,06/24/16,06/24/16
tt5946128,2437,NaN,4300000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,hi,Dear Zindagi,An unconventional thinker (Shah Rukh Khan) hel...,3.699552,/eKFZFwKtJJXczpguU5zgUhgleox.jpg,...,NaN,Dear Zindagi,NaN,"[{'cast_id': 8, 'character': 'Kaira', 'credit_...","[{'credit_id': '57c6e9c3c3a3680ba4001c63', 'de...",3376375,-923625,DEAR ZINDAGI,11/24/16,11/24/16
tt6673840,392,NaN,7075038,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,ru,Время первых,"March 1965. In the heat of the Cold War, the U...",10.181000,/hDNVRmrprxI9NQ0zc2Uu03p65Fw.jpg,...,"So far from home, so close to disaster",The Spacewalker,"[{'id': 14626, 'name': 'astronaut'}, {'id': 19...","[{'cast_id': 3, 'character': 'Alexey Leonov', ...","[{'credit_id': '589c5145c3a3684cde007fb5', 'de...",9868942,2793904,THE SPACEWALKER,04/12/17,04/12/17

In [344]:
df.loc[df['runtime']>150]

,id,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,poster_path,...,tagline,title,Keywords,cast,crew,revenue,profit,new_title,new_release_date,New_date
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0004972,606,NaN,100000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,The Birth of a Nation,The Birth of A Nation is a silent film from 19...,5.113205,/zYtgDRSOQeZmGbHkXff5CcEg05g.jpg,...,The fiery cross of the Ku Klux Klan.,The Birth of a Nation,"[{'id': 529, 'name': 'ku klux klan'}, {'id': 5...","[{'cast_id': 16, 'character': 'Elsie Stoneman'...","[{'credit_id': '59d42f0ec3a368453f009d78', 'de...",11000000,10900000,THE BIRTH OF A NATION,02/08/15,02/08/15
tt0043949,737,NaN,8250000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,Quo Vadis,"Set against the back drop of Rome in crisis, G...",11.840985,/nTNT1V3YR1GdFhAMQGbvJNxPeJZ.jpg,...,THIS IS THE BIG ONE! The splendor and savagery...,Quo Vadis,"[{'id': 5049, 'name': 'ancient rome'}, {'id': ...","[{'cast_id': 1, 'character': 'Marcus Vinicius'...","[{'credit_id': '52fe44699251416c75033d4d', 'de...",30000000,21750000,QUO VADIS,11/08/51,11/08/51
tt0049833,524,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,The Ten Commandments,"Escaping death, a Hebrew infant is raised in a...",11.147040,/loLrO3SfhHkN3o3fTHdx1vf9ZYf.jpg,...,NaN,The Ten Commandments,"[{'id': 1160, 'name': 'egypt'}, {'id': 2618, '...","[{'cast_id': 9, 'character': 'Moses', 'credit_...","[{'credit_id': '58acab8cc3a3686f0d00093f', 'de...",122700000,109700000,THE TEN COMMANDMENTS,10/05/56,10/05/56
tt0050212,1765,NaN,3000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,en,The Bridge on the River Kwai,The classic story of English POWs in Burma for...,8.851646,/vtPR6tSHeu35rF6qTDw3Yjr9eDg.jpg,...,It spans a whole new world of entertainment!,The Bridge on the River Kwai,"[{'id': 233, 'name': 'japan'}, {'id': 836, 'na...","[{'cast_id': 12, 'character': 'Cmdr. Shears', ...","[{'credit_id': '52fe427dc3a36847f8022a77', 'de...",27200000,24200000,THE BRIDGE ON THE RIVER KWAI,10/02/57,10/02/57
tt0052618,626,NaN,15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,en,Ben-Hur,Ben-Hur is a 1959 epic film directed by Willia...,14.319743,/syPMBvvZsADTTRu3UKuxO1Wflq.jpg,...,The entertainment experience of a lifetime.,Ben-Hur,"[{'id': 3035, 'name': 'roman'}, {'id': 3071, '...","[{'cast_id': 20, 'character': 'Judah Ben-Hur',...","[{'credit_id': '52fe4266c3a36847f801b99f', 'de...",146900000,131900000,BEN-HUR,12/26/59,12/26/59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt4048272,1132,NaN,3537415,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,de,Toni Erdmann,Without warning a father comes to visit his da...,9.117054,/gJNjVE8WGUjiSKUtMDEvNzxR5zq.jpg,...,NaN,Toni Erdmann,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'cast_id': 0, 'character': 'Winfried / Toni'...","[{'credit_id': '5740ce71c3a3680727002bf9', 'de...",1390172,-2147243,TONI ERDMANN,07/14/16,07/14/16
tt4429128,937,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,ta,Papanasam,A cinephile tries to protect his family by hid...,0.569463,/3jAtqBrfY7mPuvhqTan3H0B0JAz.jpg,...,NaN,Papanasam,"[{'id': 6139, 'name': 'innocence'}, {'id': 974...","[{'cast_id': 0, 'character': 'Suyambulingam', ...","[{'credit_id': '55099d4892514110ca003ae9', 'de...",14000000,14000000,PAPANASAM,07/03/15,07/03/15
tt5074352,586,NaN,10400000,"[{'id': 18, 'name': 'Drama'}]",NaN,hi,दंगल,Dangal is an extraordinary true story based on...,8.792104,/5PDT64gtbmH10gK5AYR7LZh5PQk.jpg,...,NaN,Dangal,"[{'id': 5565, 'name': 'biography'}, {'id': 597...","[{'cast_id': 0, 'character': 'Mahavir Singh Ph...","[{'credit_id': '5714ef3f92514146c80003ea', 'de...",310000000,299600000,DANGAL,12/23/16,12/23/16
tt5190958,587,NaN,1500000,"[{'id': 10402, 'name': 'Music'}]",NaN,mr,कट्यार काळजात घुसली,Katyar Kaljat Ghusli is a 2015 Marathi film ba...,0.446454,/j7F68iJE341rIYwEl4m21KCWfkQ.jpg,...,A dagger through the heart,Katyar Kaljat Ghusali,NaN,"[{'cast_id': 2, 'character': 'Pandit Bhanushan...","[{'credit_id': '5645f1a5c3a36870db009832', 'de...",4400000,2900000,KATYAR KALJAT GHUSALI,11/12/15,11/12/15
tt6201292,1203,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,ta,பைரவா,A loan recovery agent takes on a corrupt head ...,1.459459,/hBtRwo9BIdRARsNZPtAHvlse0mg.jpg,...,NaN,Bairavaa,"[{'id': 166539, 'name': 'loan officer'}, {'id'...","[{'cast_id': 6, 'character': 'Bairavaa', 'cred...","[{'credit_id': '57b46170c3a36819b50050ba', 'de...",17000000,17000000,BAIRAVAA,01/12/17,01/12/17